@tailwind base;
@tailwind components;
@tailwind utilities;
@layer scrollbar {
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #66666e;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #809fff;
    border-radius: 100vh;
    border: 0.07rem solid #3a3a3d;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #506de4;
  }
}

.app {
  @apply flex h-screen w-screen flex-col items-center bg-zinc-800;
}

/* Nav */
.navbar {
  @apply top-0 z-20 flex h-16 w-full items-center justify-between px-4;
}

.navbar_item {
  @apply flex items-center;
}

.search {
  @apply w-8 rounded-xl bg-zinc-700 px-2 py-1 placeholder-zinc-700 outline-none transition-all md:w-40 md:text-sm md:placeholder-zinc-400;
}

.search_icon {
  @apply absolute right-2 top-1/2 -translate-y-1/2;
}

.search_result {
  @apply absolute left-0 top-14 w-full rounded-xl bg-zinc-700 p-3;
}

.search.active {
  @apply w-full md:w-[32rem];
}

.navbar.active {
  @apply sticky bg-zinc-800;
}

.navbar.inactive {
  @apply fixed md:sticky;
}

/* Sidebar */
.sidebar {
  @apply scrollbar fixed bottom-0 z-20 flex h-[calc(100vh-3.6rem)] w-64 flex-col items-center overflow-y-scroll bg-zinc-700 px-4 py-2;
}

.sidebar.active {
  @apply left-0 transition-all;
}

.sidebar.inactive {
  @apply -left-full transition-all;
}

.sidebar_item {
  @apply flex items-center rounded-lg p-2;
}

/* Text */
.header_text {
  @apply text-xl font-bold md:text-2xl;
}

.title {
  @apply text-lg font-bold;
}

.text {
  @apply text-base;
}

/* Icon */
.icon {
  @apply text-lg md:text-2xl;
}
